files:
    "/etc/nginx/conf.d/proxy.conf" :
        mode: "000755"
        owner: root
        group: root
        content: |
            client_max_body_size 5M;
            add_header Strict-Transport-Security "max-age=1576800" always;
            ssl_session_cache shared:SSL:5m;
            ssl_session_timeout 1h;
            server_tokens off;
